@tailwind base;
@tailwind components;
@tailwind utilities;

.animation {
    width: 4px;
    height: 9px;
    animation: startCircleAnimation 0.3s forwards;
}

/* h-[9px] w-[4px] */
@keyframes startCircleAnimation {
    0% {
        transform: scale(0) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(45deg);
    }

}
